<%= @category.errors.full_messages if @category.errors.any?%>

<%= form_for @category do |f| %>
  <p><%= f.label :name, "Category name" %><br>
     <%= f.text_field :name %></p>
  <p><%= f.label :parent_id, "Parent Category" %><br>
     <%= collection_select(:category,:parent_id,@all_categories,:id,:long_name) %></p>
<% end %>
